<head lang='es'>
  <meta charset='utf-8' />
  <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
  <meta name='viewport' content='width=device-width' />
  <meta name='generator' content={Astro.generator} />
  <title>LinkedIn Scrapping</title>
  <meta
    name='description'
    content='Un simple web scraper que busca trabajos de React por medio de LinkedIn.'
  />
  <meta property='og:type' content='website' />
  <meta property='og:title' content='LinkedIn Scrapping' />
  <meta
    property='og:description'
    content='Un simple web scraper que busca trabajos de React por medio de LinkedIn.'
  />
  <meta property='og:image' content='otg.jpg' />
  <link
    href='https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap'
    rel='stylesheet'
  />
</head>
