---
interface Props {
  size: number
}

const { size } = Astro.props
---

<header class='my-8'>
  <p class='text-black text-lg font-medium text-opacity-50'>{size} empleos de «React» en México</p>
</header>
