---
import Head from '@components/Head.astro'
import Navbar from '@components/Navbar.astro'
---

<html lang='es'>
  <Head />
  <body class='px-4 sm:px-8 font-poppins'>
    <div class='w-full max-w-base mx-auto mb-10'>
      <Navbar />
      <slot />
    </div>
  </body>
</html>
