---
import LinkedIn from '@icons/LinkedIn.astro'
---

<nav class='h-20 flex justify-between items-center border-b-2 border-b-gray'>
  <a title='LinkedIn' class='outline-none' href='https://www.linkedin.com'>
    <LinkedIn />
  </a>
  <a
    class='px-8 py-2 outline-none rounded-full duration-200 text-blue border-blue border-[1.5px] hover:bg-blue hover:bg-opacity-10 focus-visible:bg-blue focus-visible:bg-opacity-10'
    href='https://github.com/JoseLuria/linkedin-scrapping'
    target='_blank'
  >
    GitHub
  </a>
</nav>
